<footer>
    <div class="container">
        <p>&copy; {{ "now"|date("Y") }} by <a href="https://github.com/exellman">Yevhenii Kanaiev</a>.</p>
    </div>
</footer>


{% include 'components/popup.twig' %}