<section class="banner">
    <h1>{{ site.name }}</h1>
    <p>{{ site.description }}</p>
    <button onclick="openPopup()">Залишити заявку</button>
</section>
<div id="popup">
    [contact-form-7 id="123" title="Форма зворотного зв’язку"]
</div>
