<section class="banner">
    <div class="container">
        <h1>{{ banner.title }}</h1>
        <p>{{ banner.subtitle }}</p>
        <button class="btn btn-primary open-popup">{{ banner.button_text }}</button>
    </div>
</section>