<div id="course-popup" class="popup">
    <div class="popup-content">
        <button class="popup-close" id="popup-close">&times;</button>
        {% include 'components/form.twig' %}
    </div>
</div>